<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="DialupName" value="MyCorporate VPN."/>
    <!-- Optionally set this or save the user name and password using the windows settings.-->
    <add key="host" value="" />
    <add key="User" value="" />
    <add key="pass" value="" />
    <!--Route shout be: Destination Mask Gateway-->
    <add key="route" value="8.8.8.0 255.255.255.0 10.10.10.1;" />
  </appSettings>
</configuration>

